[2022-08-15 11:12] anymaniax commented on #531
should be fixed in the next version

[2022-08-16 20:47] Jeremie-Chauvel commented on #483
Hi, seems I have exactly the same issue, a simple reproduction setup: https://github.com/Jeremie-Chauvel/orval-index-sort-issue

As a basic workaround, I use the shell `sort` command post Orval type generation for now.

[2022-08-17 10:03] arlyon commented on #368
Maybe a solution here is to seed the cuid generator with the operationId + path into the return type

[2022-08-20 12:31] #430 closed

[2022-08-21 18:32] knyzorg commented on #171
The proper fix for this would be to make a the param a function instead of a string, and let it be passed as-is to react-query.

[2022-08-22 15:31] guyariely opened #551 "Support for union type"
The following schema:

[code]

Will yield the following type:

[code]

While the appropriate type would be:

[code]

It seems a property with more than one type is being treated as `unknown`.
This is especially apparent when trying to document nullable properties.

**Package Version:** 6.9.6

[2022-08-22 16:40] marcotoniut opened #552 "Sanitization of custom operation names"
The [sanitization step](https://github.com/anymaniax/orval/blob/f3928e184e9e44e686162e2eda194092e8a564ac/src/core/generators/verbsOptions.ts#L81
) shouldn't be done for overriden operation names. Once they've requested control, it would make more sense to leave this job up to the user. As it stands now, it's not possible to use valid characters such as `_` or `$` as part of the method's name.

##

[2022-08-23 17:33] nctay commented on #525
@anymaniax still the case with 6.9.6.

Here i have base useCustomInstance
[code]

And then creating a wrapper useCustomInstanceAuth over it

[code]

Using just plane useCustomInstance results in correct hook generation. But using useCustomInstanceAuth results in problem that was explained above.

Interesting, though, this pattern worked on 6.9.0

[2022-08-23 17:39] nctay opened #554 "Invalid hooks generation using custom instance"
Original closed issue https://github.com/anymaniax/orval/issues/525

@anymaniax still the case with 6.9.6.

Here i have a base useCustomInstance :
[code]

And then I'm using a wrapper useCustomInstanceAuth over base custom instance :
[code]

Using just plane useCustomInstance results in correct hook generation. But using useCustomInstanceAuth results in problem that was explained in original issue

[2022-08-23 17:44] nctay commented on #554
I suppose this check can`t handle a wrapper over custom instance
https://github.com/anymaniax/orval/blob/6975aff41f915b019b7b66184427ac5ac09ca4bf/src/core/generators/mutator.ts#L85

[2022-08-23 19:13] anymaniax commented on #554
Gonna check that asap

[2022-08-23 19:37] anymaniax commented on #554
Should be fixed with the next version

[2022-08-23 19:49] #483 closed

[2022-08-23 20:38] DominicBach opened #555 "Syntax error in generated MSW when API returns polymorphic type"
## What are the steps to reproduce this issue?

1. Use the following OpenAPI specification as input
[code]
2. Configure Orval to generate mocks (`output.mock: true`)
3. Run Orval

## What happens?

As of version 6.9.X, the mock generator function is missing curly braces around the object declaration, making the generated statement invalid
[code]

## What were you expecting to happen?

In versions

[2022-08-24 13:35] SoftMemes opened #556 "Reusing mock definitions across multiple services"
This is a feature request more than a bug, unless this is already possible in which case I would love to know how!

I'm tweaking the generated mocks via the orval config file. This works great for the most part, but I have some common patterns/helpers that I would love to be able to reuse effectively, e.g. a faker definition for various types that are used across the application.

Is there a way t

[2022-08-24 17:14] OliverDudgeon commented on #243
Another use case for query-key customisation is when there are more than one orval-generated api clients. If both that a `/version` endpoint for example, then the queries keys clash.

[2022-08-24 20:31] anymaniax commented on #556
Hello @SoftMemes, can you provide a little repo with an example?

[2022-08-25 14:08] ClementLevesque opened #557 "PageParams not passed to queryFn on generated useInfiniteQuery"
Thanks a lot for your library and all the job you've done! I really love it 😍 !

## What are the steps to reproduce this issue?

I use Orval 6.8.1 and react-query 3.39.2.

1. Set the config to generate react-query infinite-query :

[code]
3. Generate hooks for a schema with api routes with parameters
4. Use react-query v3

## What happens?

I simplified some data in order to focus on the issue I n

[2022-08-25 16:12] DominicBach commented on #555
If it can help, I've used git-bisect and identified 899a8cbd4c93190bd01ebd5e36be81d750b7608f as the offending commit

[2022-08-25 17:47] anymaniax commented on #555
@DominicBach thanks. I will not be able to investigate until second week of September. Kinda complicated for the moment 😅

[2022-08-27 11:57] hsjobeki opened #558 "Fix: leaky state predictions"
## What are the steps to reproduce this issue?

1. Generate an Api client for react query within a project using react-query v3
2. Generate an api client for react query outside the project
3. using the outside generated client within the project using react query v3 is impossible as the imports are different

## What happens?

seems like orval automatically detects the v3 library from the filesys

[2022-08-27 12:10] anymaniax commented on #558
Hello @hsjobeki, it's a bit a hacky but for the moment you can provide a custom path for your packageJson where you have the version of react query that you want to use. You can check [here](https://orval.dev/reference/configuration/output#packagejson).

It's a temporary solution because in the next major version I want to split completely the core and the different templates in packages. Like tha

[2022-08-27 22:52] DominicBach commented on #555
I managed to narrow it down to the cause of the issue, however I'm not sure about opening a PR since I don't know if the change would have unintended side effects.

Essentially, the cause here is handling of an `allOf` nested within a `oneOf` by the `combineSchemasMock` function. Previously the `combineSchemasMock` function did not pass down a `combine` option if the current separator was `oneOf`

[2022-08-28 19:46] anymaniax commented on #434
What do you think of [this](https://github.com/lukemorales/query-key-factory) for query keys

[2022-08-28 19:51] melloware commented on #434
I LOVE this idea. I find myself doing this a lot in my code...

[code]

So then later I can do this...
`queryClient.invalidateQueries([QUERY_LIST]);`

So that library looks like what I wanted to do all along!

[2022-08-28 19:57] melloware commented on #434
Although I do hate tying myself to another runtime library written by just one guy.  it would be cool if you could just cope his code and include it in the generated code?

[2022-08-29 11:16] createdbymahmood commented on #171
any updates?

[2022-08-29 11:24] anymaniax commented on #171
Sorry I cannot check anything before mid September

[2022-08-29 15:50] denisorehovsky commented on #484
@anymaniax Works perfectly. Thank you.

[2022-08-29 15:55] anymaniax commented on #484
Great! Also thanks for the support 😊

[2022-08-29 15:56] #484 closed

[2022-08-29 16:00] anymaniax commented on #555
Thanks for the investigation. You can add a check on the separator type like this combine &&combine.separtor !== 'oneOf'. It should fix the issue

[2022-08-29 16:04] Ojisama commented on #384
Hello ! Dropping a :+1: here as this feature would also help us.
My use case : Frontend in Angular + Microservices with different hosts

- I can't really use an Interceptor since I have several microservices with different `base_url` so I cannot add the same `base_url` to all my calls
- I can't use a transformer because of the leading slash :  `this.http.post<TData>("/https://env.myhost.com/servic

[2022-08-29 16:34] Ojisama commented on #384
Thanks for the quick reply !
If I can be of any help don't hesitate asking.

For those who stumble across this issue and would like a quick hack to make it work in the meantime, here's my dodgy Interceptor :
[code]

[2022-08-30 20:34] Southclaws opened #562 "Parameters names are different from their usage names"
## What are the steps to reproduce this issue?

This might be related to using `requestBodies` as an abstraction layer between paths and schemas.

Fastest way to repro this is generate a client from this schema: https://github.com/Southclaws/storyden/blob/main/api/openapi.yaml

## What happens?

Paths that have POST payloads specified as `requestBody` which $ref's `components/requestBodies` will g

[2022-08-30 20:39] anymaniax commented on #562
I will check as soon as I can. Probably next week

[2022-08-30 20:45] Southclaws commented on #562
Great, thanks! If you can point me to a possible cause I can take a look if needed!

[2022-08-31 07:49] jvandenaardweg commented on #320
Unfortunately, deleting the yarn.lock file does not work in my case with the latest version of Orval (6.9.6) using a OpenAPI spec that is validated correctly.

The only way to fix it is `yarn add ajv`, which should not be needed imo. Can this issue be re-opened?

Using:
node 16.17.0
npm 8.15.0
yarn 1.22.19
orval 6.9.6 (latest version as of writing this comment)

Error:
[code]

[2022-09-02 19:59] melloware opened #564 "Config Option (useDeprecatedOperations): Do not generate deprecated APIs"
You need an OpenAPI file with an API call marked `deprecated: true`

Here is an example operation with ` "deprecated": true,` I would love an Orval config option `useDeprecatedOperations: false` to basically not generate any React Query code for any deprecated APIs.  It will reduce my TypeScript code and prevent someone from calling deprecated APIs.

[code]

[2022-09-05 10:38] #555 closed

[2022-09-06 08:56] mb21 commented on #551
That would be great, also when using OpenAPI's `oneOf`.

Would be like [`openapi-typescript-codegen`'s `--useUnionTypes` option](https://github.com/ferdikoomen/openapi-typescript-codegen/blob/master/docs/enum-vs-union-types.md).

[2022-09-08 00:24] benjamin-benoit opened #575 "Expected a semicolon"
## What are the steps to reproduce this issue?

By running tests on mocks

## What happens?

I get failed tests

## What were you expecting to happen?

It's on on the mocked functions, it says that a ',' is waited instead of a '.' and also tells that the above part before the ',' is not used for the others mocks.

We can see {} arround Array.from...

After deleting these {}, the tests run correctl

[2022-09-08 08:33] #575 closed

[2022-09-08 17:00] la55u opened #576 "Generated msw helper function is missing property in return value despite schema is generated successfully"
## What are the steps to reproduce this issue?

1. generate the client from the given openapi schema and orval config below
2. use the generated react-query custom hooks
3. inspect the resulting JSON reponse

## What happens?

### Input
<details><summary>openapi.yml</summary>

[code]

</details>

<details><summary>orval.config.yml</summary>

[code]

</details>

### Output

<details><summary>api.ms

[2022-09-09 03:29] DominicBach commented on #434
I've been playing with the codebase for a bit and have been experimenting with using the Typescript AST factory to generate code as opposed to plain string manipulation. I've used it to encapsulate mock generation logic into separate type classes, which I could then compose together to build more complex representations.

It could also solve your idea for additional customization by allowing users

[2022-09-09 10:16] torleifhalseth opened #577 "Feature: Support TanStack Query v4 - @tanstack/react-query"
Feature request: I would love to use orval together with the latest react-query.

[2022-09-09 10:18] anymaniax commented on #577
Hello @torleifhalseth, it's already supported. You just need to have the new package installed in your package.json

[2022-09-10 15:13] DominicBach commented on #551
FYI this is not a valid OpenAPI specification, see https://swagger.io/specification/#schema-object

The correct way to model this would be
[code]

[2022-09-11 13:57] melloware commented on #577
@torleifhalseth I have been using Tanstack 4 in production with Orval for a month now!  Works great.

[2022-09-11 13:57] melloware commented on #531
OK I just ran into this too with `typescript: latest` as well

[2022-09-13 07:14] mb21 commented on #551
@DominicBach I updated the snipped to be complete (now it validates) and replaced the confusing double use of `type` with `kind` in one place. Please check out the links, hope it makes sense now?

[2022-09-13 18:41] melloware commented on #564
works like a charm in production removing my deprecated operations!

[2022-09-13 18:41] #564 closed

[2022-09-14 11:40] Southclaws commented on #562
I temporarily worked around this by ensuring my schema names match the pattern that Orval generates: https://github.com/Southclaws/storyden/commit/d424f139f4c75a6d01cd17f32d19221c9b733a6c#diff-6c08e65eef0374988297d041bd50f87b385613a7e478c3812cb5312cc3e1f1e3R523

Basically, if the `requestBodies` item is named `Xyz` then I need to name any referenced `schemas` items `XyzBody`. Which is great, it un

[2022-09-14 14:54] lmichelin opened #584 "Syntax error when using special characters in formData key"
## What are the steps to reproduce this issue?

Having an OpenAPI spec containing a POST route using multipart/form-data and whose body contains a key with special characters:

<details>
<summary>openapi-spec.json</summary>

[code]

</details>

<details>
<summary>orval.config.js</summary>

[code]

</details>

## What happens?

Generated code contains a syntax error and can neither be executed not

[2022-09-16 13:43] anymaniax commented on #576
will be fixed in the next release

[2022-09-19 08:12] torleifhalseth commented on #577
Awesome! Thanks for the quick response. I was trying to define the client in our Orval configuration and defining `@tanstack/react-query` as the client gives a not assignable error in Typescript. I guess I can just install the new version and keep the client as "react-query"?

[2022-09-19 10:59] Kanary159357 opened #589 "Cannot generate nested ref of JSON Schema properly"
## What are the steps to reproduce this issue?

server.yaml
[code]
abc.yaml
[code]

## What happens?

If there are nested Ref call in JSON Schema, mock does not work properly

Problem is that when I generate mock with `server.yaml`

[code]

Mock Response for this api is empty object

…

## What were you expecting to happen?

[code]

It should be faker of enums.

[2022-09-19 11:14] melloware commented on #577
Yep that is all I did was update my React Query dependencies in package.json and then regenerate and Orval sees you are using the new ones and generates for v4.

[2022-09-19 12:12] #577 closed

[2022-09-21 08:04] anymaniax commented on #589
Hello @Kanary159357, I did a fix that will be in the next release. Just on your server.yaml specification this ref `$ref: '#abc.yaml#/User'` should be `$ref: 'abc.yaml#/User'` right?

[2022-09-22 02:16] Kanary159357 commented on #589
RIght It was mistake!

[2022-09-22 08:58] anymaniax commented on #576
Fixed with `6.10.1`

[2022-09-22 16:47] la55u opened #594 "Missing import in generated mock file"
## What are the steps to reproduce this issue?

1. generate the client from the example spec and config below
2. inspect the resulting `api.msw.ts` file

<details>
<summary>openapi.yml</summary>

[code]
</details>

<details>
<summary>orval.config.ts</summary>

[code]
</details>

## What happens?

`NotificationType` import is missing, cannot build the code.

<details>
<summary>api.msw.ts</summary>

[2022-09-22 17:47] anymaniax commented on #594
sorry! Fixed will be in the next release

[2022-09-23 08:10] anymaniax commented on #531
Should be fixed right now

[2022-09-23 08:31] anymaniax commented on #562
will be fixed in the next release

[2022-09-23 08:57] anymaniax commented on #584
Will be fixed in the next release

[2022-09-23 11:58] melloware commented on #531
Still doesn't work with "latest" i get "An Error occurred while writing file => Error: Invalid argument not valid semver ('latest' received)"

[2022-09-23 12:45] anymaniax commented on #531
@melloware fixed

[2022-09-23 12:49] melloware commented on #531
As always you are the best!

[2022-09-26 01:54] Kanary159357 commented on #589
works very well! Thanks

[2022-09-26 01:54] #589 closed

[2022-09-26 16:28] anymaniax commented on #594
should be fixed with `6.10.2`

[2022-09-26 16:28] anymaniax commented on #584
should be fixed with `6.10.2`

[2022-09-26 16:28] anymaniax commented on #562
should be fixed with `6.10.2`

[2022-09-26 16:29] anymaniax commented on #531
should be fixed with `6.10.2`

[2022-09-26 16:49] la55u commented on #594
thank you, it works!

[2022-09-26 16:49] #594 closed

[2022-09-26 20:13] #531 closed

[2022-09-26 20:54] k1ns3 commented on #557
Hello, the problem has not been solved yet?

[2022-09-28 08:38] ristomatti commented on #139
While upgrading React Query from v3 to v4, I noticed this method of cancellng requests is either removed or deprecated. I say either or because as v4 migration guide says it's been removed while the documentation still instructs to use this syntax for older Axios versions.

https://tanstack.com/query/v4/docs/guides/migrating-to-react-query-4#the-cancel-method-on-promises-is-no-longer-supported
htt

[2022-09-28 08:40] anymaniax commented on #139
Hello @ristomatti, normally it's removed in v4 and needs to be updated in the doc too

[2022-09-28 08:44] ristomatti commented on #139
@anymaniax Thanks! I've just been trying to figure out if it is or not. I just figured though we have this configuration on a custom instance even though we're generating only Axios requests :slightly_smiling_face:.

[2022-09-28 13:48] georgefst opened #598 "Override config file options from CLI"
I have a config file `orval.config.js` specifying an `input` field, with a `target` `input1.json`. I sometimes want to use a different input file, but to my surprise `orval --config orval.config.js --input input2.json` still causes `input1.json` to be chosen. In other words, the config file always takes precedence, and there's no way to override it.

And I can't just avoid specifying the input tar

[2022-09-28 14:10] anymaniax commented on #598
Hello @georgefst, thanks for the feedback. It's implemented and will be in the next release

[2022-09-28 14:26] georgefst commented on #598
Awesome, thanks!

[2022-09-28 14:27] #598 closed

[2022-09-30 09:33] Tymek opened #600 "Additional properties causing TS error. "Property is not assignable to index type.""
### What are the steps to reproduce this issue?

Create schema with typed `additionalProperties`
[code]

### Discussed in https://github.com/anymaniax/orval/discussions/599

<div type='discussions-op-text'>

<sup>Originally posted by **Tymek** September 30, 2022</sup>
When I have additional properties (like in **[this source file](https://github.com/Unleash/unleash/blob/9ba441b9cf63dbca4b394dc9557

[2022-09-30 14:06] Tymek commented on #600
Relevant code: https://github.com/anymaniax/orval/blob/f3928e184e9e44e686162e2eda194092e8a564ac/src/core/getters/object.ts#L104

[2022-09-30 14:12] anymaniax commented on #600
sure for PR but I am not just that just transform it to any is a good solution tho

[2022-09-30 14:20] Tymek commented on #600
Right. Even `resolvedValue.value | <other types from properties>` is not strictly correct.

Only way I know to make this work is to switch to [Intersection Types](https://www.typescriptlang.org/docs/handbook/unions-and-intersections.html#intersection-types), but that will export `type` instead of `interface`..

[2022-09-30 17:45] mfreeman-xtivia opened #601 "Support for remote OpenAPI Spec?"
Question:

Are remote links supported for the configuration setting associated with the input file? i.e., can I use https://something?

[2022-10-02 14:08] lmichelin commented on #584
I can confirm that the issue is fixed in version `6.10.2`, thanks! 🎉

[2022-10-02 14:08] #584 closed

[2022-10-02 15:51] anymaniax commented on #601
@mfreeman-xtivia normally yes

[2022-10-02 15:52] mfreeman-xtivia commented on #601
"normally yes"?

meaning sometimes I can't?

[2022-10-02 16:09] anymaniax commented on #601
Dépend of the data ta you return. Need to be a json format or directly à specification file

[2022-10-02 16:18] anymaniax commented on #601
To be more precise behind it use [this](https://github.com/APIDevTools/swagger-parser/blob/main/docs/swagger-parser.md#resolveapi-options-callback). You can also pass your own parser. You check the doc [here](https://orval.dev/reference/configuration/input#parseroptions). I was saying normally yes because depending of your setup I pretty sure it doesn’t handle every case

[2022-10-03 08:18] jc-louis opened #605 "Enums generation not working without type"
Hello, (thanks for the lib, it's great!)

I'm using this openapi spec (auto generated by [fastapi](https://github.com/tiangolo/fastapi)) and the command `orval --input ./openapi.yaml --output ./src/client.ts`
[code]

In this case, orval doesn't seems to handle the `UserStatus` enum properly, I'm getting a generated:
[code]

If I add manually the `type: string` it works
[code]

but it shouldn't be

[2022-10-03 16:50] la55u opened #606 "Sort MSW handlers by default"
## What are the steps to reproduce this issue?

This is a rather unfortunate behavior of MSW: https://github.com/mswjs/msw/issues/814

When there are two handlers specified like this:
[code]
Then a request to `/blog-categories/count` will return the response defined in `/blog-categories/:id` because that one is matched first.
Since orval generates the mock definitions in an order that is incompati

[2022-10-03 17:15] thraizz opened #607 "Bug: operationId "options" clashes with parameter name `options`, causing typescript errors"
## What are the steps to reproduce this issue?

1. Setup a sample project with react + react-query/tanstack query + typescript where one of the endpoints has `operationId: "options"` or use the provided sample repo or the sample configuration
2. Generate the api

## What happens?
If we check the generated api.ts, we see a variable name clash of the generated `export const options = ...` for the en

[2022-10-04 16:49] #554 closed

[2022-10-04 23:21] marcotoniut opened #608 "Enum types with symbol in their name break because of the pre-sanitization step"
## What are the steps to reproduce this issue?

1. Run generation script of an enum with symbols as it's values (eg. ['+', '-', '*', '/'])

## What happens?

The end result is a broken object:
[code]

## What were you expecting to happen?

The correct names for the object (since it's just a string, it should probably be considered valid as a key)
[code]

## Any logs, error output, etc?

This resul

[2022-10-07 11:02] arlyon opened #609 "Deprecated flag does not propagate out to final function"
## What are the steps to reproduce this issue?

1. Create an openapi spec with a deprecated api method
2. Observe that the deprecated flag is applied to the `useMyResourceHook`
3. Observe that it is _not_ applied to `useMyResource`, meaning the deprecation is 'hidden'

I have considered using `useDeprecatedOperations` however I don't want to have to drop deprecated hooks immediately.

## What vers

[2022-10-10 12:32] Southclaws opened #615 "Unexpected internal/minified error message"
## What are the steps to reproduce this issue?

Run Orval 6.10.2 or 6.10.1

## What happens?

Trying to generate code from these versions results in what looks like an internal or minified error with a stack trace that isn't easy to read. As far as I can tell, our schema is fine as it generates our backend code fine and also renders in the Swagger UI fine too. Unfortunately I cannot share the sche

[2022-10-10 18:26] localrobot opened #616 "Incorrect code generated when `readOnly: true` and also included in `required`"
When same schema is used for `get` and `post` request, some fields are marked as `readOnly` but the same field is also listed under `required`. In this situation the expected behaviour as per [Read-Only and Write-Only Properties](https://swagger.io/docs/specification/data-models/data-types/) section on Swagger docs is quoted below:

## What are the steps to reproduce this issue?

Here is an exampl

[2022-10-13 10:22] Southclaws opened #618 "Input target authentication"
Just a minor request for a feature, maybe it's already possible, not sure.

Basically, we host our specification on a URL behind a bearer token auth, so access requires `Authorization: Bearer ...` in the headers. Now I'm pretty sure I can just make this endpoint require HTTP basic auth instead and make my orval config:

[code]

But it would be neat if we could specify some authentication options f

[2022-10-13 11:12] Southclaws commented on #615
Adding `"ajv": "^8.11.0",` as a dev dependency fixes this for some reason, not a very obvious solution 😅

[2022-10-16 11:00] yassineaddi commented on #618
You could use [parserOptions](https://orval.dev/reference/configuration/input#parseroptions) with the built-in `http` resolver to set your `Authorization` header:

[code]

[2022-10-17 15:57] Southclaws commented on #562
Working perfectly, thanks!

[2022-10-19 19:11] lmossman commented on #513
@anymaniax I'm reviving this thread as I am running into the same issue with orval printing out
[code]

I have created a repo with a simple example that can be used to reproduce this error: https://github.com/lmossman/orval-example

To reproduce the error, you can follow these steps:
1. `git clone git@github.com:lmossman/orval-example.git`
2. `cd orval-example`
3. `npm install`
4. `npm run orval`

[2022-10-20 11:31] kubakl commented on #513
As @lmossman says, I also have the same structure in my OpenAPI definition, I split it across different files, paths, schemas, responses etc. This actually could be the problem.

[2022-10-21 10:26] ruiaraujo012 opened #625 "Problem with schema referencing itself"
## What are the steps to reproduce this issue?

1. A schema like this:
<img width="494" alt="image" src="https://user-images.githubusercontent.com/16304685/197173797-f4a852e4-a045-4f5b-8771-d1f37ddc8654.png">

## What happens?
Generates this model:
<img width="709" alt="image" src="https://user-images.githubusercontent.com/16304685/197173898-3ec3eeb1-6261-4f56-8624-d325272bbc6b.png">

## What were

[2022-10-25 12:51] la55u commented on #243
Did you guys manage to find a workaround?

[2022-10-26 15:12] Southclaws commented on #618
Perfect, thanks!

[2022-10-26 15:12] #618 closed

[2022-10-27 16:25] SpaghettiC0des opened #634 "Redux Tool kit Query aka RTK Query support"
Hi! Is there a plan to support RTK Query in the future?

[2022-10-28 06:31] anymaniax commented on #634
Hello @karlmarxlopez, they have a generator too so It's not planned for the moment. You can find it [here](https://redux-toolkit.js.org/rtk-query/usage/code-generation)

[2022-10-28 06:45] anymaniax commented on #625
Will be in the next release

[2022-10-28 06:48] anymaniax commented on #615
Hello @Southclaws, complicated to know what caused that problem. Do you have more information?

[2022-10-28 06:50] anymaniax commented on #609
Hello @arlyon, can you provide an example of specification/code to ease the implementation and follow-up?

[2022-10-28 06:58] anymaniax commented on #608
will be fixed in the next release

[2022-10-28 07:39] ruiaraujo012 commented on #625
Thank you ;)

[2022-10-28 08:42] karlmarxlopez commented on #634
Yes, they have and I'm currently using it but it feels incomplete and lack's the configurability of Orval. Like splitting the type defs into a separate file.

[2022-10-28 09:02] Southclaws commented on #615
Unfortunately not, just adding that dependency fixed the issue but it's not obvious why a missing dependency caused such a large error to appear.

[2022-10-28 14:44] karlmarxlopez commented on #634
@anymaniax, I think it might be good if there's a documentation section for customizing or creating your own template?

[2022-10-28 14:46] anymaniax commented on #634
@karlmarxlopez it's in the roadmap of the next major release to redo the doc and split completely the core to be able to create plugins easily. Right now it's possible but the API is not really good

[2022-10-29 10:55] arlyon commented on #609
Absolutely. I have a repo here: https://github.com/arlyon/orval-deprecate/

I would expect that because of this

https://github.com/arlyon/orval-deprecate/blob/71cb526ec8619b54534b7600c8ff3bf22373deb2/petstore.ts#L137-L141

That this hook would have the deprecated flag propagated to it

https://github.com/arlyon/orval-deprecate/blob/71cb526ec8619b54534b7600c8ff3bf22373deb2/petstore.ts#L163

[2022-10-31 09:20] geekus opened #637 "index.ts for schemas not merged like in 6.9.6 and earlier"
## What are the steps to reproduce this issue?

1. Add two or more spec files to orval.config.js
2. Set schemas dir to the same dir for all specs, let's say `schemas`
3. Run orval.generate()

## What happens?
From 6.10.0 it seems like `schemas/index.ts` contains re-exports from the last spec only. For 6.9.6 and earlier it contained schema exports for all specs.

## What were you expecting to happe

[2022-10-31 15:30] hbarrientosg commented on #513
As temporary solution you could generate your schema with openapi-cli and then use orval with the output.
[code]
On your orval you should add the generated file.
[code]

[2022-11-02 14:51] gervaisb opened #638 "Non unique enum names with `-` and `+` prefixes"
## What are the steps to reproduce this issue?

1. Add an enumeration with two values that vary only with the `-` and `+` prefixes:

[code]

## What happens?

Those special characters are ignored and the keys are identical:

[code]

## What were you expecting to happen?

The special characters are escaped so that we can use the enumeration.

## Any other comments?

This issue has been discovered w

[2022-11-03 11:48] melloware commented on #638
I am actually surprised this is a valid enum value with the minus sign in it?

[2022-11-03 17:08] gervaisb commented on #638
For the server side we manage them as simple strings. At least they are valid for OpenApi..

[2022-11-03 18:50] lmossman commented on #513
@hbarrientosg nice suggestion, I will try that! Thanks

[2022-11-03 20:40] anymaniax commented on #513
Hello @lmossman, @hbarrientosg, @kubakl, I improved the parsing and everything should work as expected in the next release

[2022-11-03 20:45] anymaniax commented on #638
Hello @gervaisb, which version of orval are you using?

[2022-11-04 08:44] anymaniax commented on #637
should be fixed in the next release

[2022-11-04 09:32] geekus commented on #637
Great, thanks!

[2022-11-06 09:58] geirsagberg commented on #386
Seems like the nullable part of 3.1 is not yet supported? From https://www.openapis.org/blog/2021/02/16/migrating-from-openapi-3-0-to-3-1-0

[code]

[2022-11-06 10:05] geirsagberg commented on #551
@DominicBach Type arrays are supported in OpenAPI 3.1: https://www.openapis.org/blog/2021/02/16/migrating-from-openapi-3-0-to-3-1-0

[2022-11-06 19:19] geirsagberg commented on #551
I added a PR for nullability that should fix this one as well: #645

[2022-11-06 19:35] la55u commented on #434
I also think that this is the way going forward as the string manipulation approach is quite unmaintainable. A cleaner approach can be seen for example [here](https://github.com/rametta/rapini/tree/main/src/react-query) however it's quite opinionated and orval has much more configuratoin options. I think orval could attract a lot more contributors in the long run if it were rewritten with TS gener

[2022-11-07 07:58] #551 closed

[2022-11-07 09:43] gervaisb commented on #638
@anymaniax our version is defined to `^6.4.1`.

[2022-11-09 17:47] anymaniax commented on #637
hey @geekus should be fixed with the last release

[2022-11-09 17:47] anymaniax commented on #625
hey @ruiaraujo012  should be fixed with the last release

[2022-11-09 17:47] anymaniax commented on #608
hey @marcotoniut should be fixed with the last release

[2022-11-09 18:44] marcotoniut commented on #608
Yep, already upgraded and removed our "overrides". Thank you, @anymaniax. Although, from looking at the implementation, one thing I should mention is that the problem would still persist for strings bigger than one character that start with a symbol.

It's not a problem for us, but somebody might face this very issue eventually.

[2022-11-10 07:31] geekus commented on #637
Yes, just updated and tested. Looks good! Thanks again. 🚀

[2022-11-10 07:31] #637 closed

[2022-11-10 08:42] ruiaraujo012 commented on #625
thank you @anymaniax ;)

[2022-11-10 22:23] mathiaswold opened #652 "TypeScript error: Null values should not be allowed in FormData"
Hi, thank you for this great package! I have an issue:

## What are the steps to reproduce this issue?

1. Run orval against an api with a mulitpart/form-data endpoint that contains fields with null types

## What happens?
TypeScript error:

`FormData.append(key, value)` only supports values of type Blob or string ([MDN docs](https://developer.mozilla.org/en-US/docs/Web/API/FormData/append))

![SC

[2022-11-11 16:54] AleskiWeb opened #653 "Pass in custom axios instance"
Hey, first of all, this package seems really awesome and we currently have a very large manually maintained api package that has all of our typesafe code, which this package could completely make redundant, which would be a huge time saver!

I am struggling a bit with the docs here - If I wanted to have each of the endpoint-generated axios-functions to have a custom axios instance passed to it as

[2022-11-13 17:16] la55u opened #654 "React-query custom client example is wrong"
## The problem
I tried to solve the authentication problem (passing `Authorization` header in the app) when I noticed the following in the examples.
The custom-client [example](https://github.com/anymaniax/orval/blob/master/samples/react-query/custom-client/src/api/mutator/custom-client.ts) defines a `customClient` to use in queries, however the [auth.context.tsx file](https://github.com/anymaniax

[2022-11-14 14:36] anymaniax commented on #653
Hello @AleskiWeb, yes it's the job of a [mutator](https://orval.dev/reference/configuration/output#mutator). You also have some examples [here](https://github.com/anymaniax/orval/tree/master/samples)

[2022-11-15 09:45] tjankowski commented on #638
We have the same issue for the enum containing timezones. For timezones `Etc/GMT+0` and `Etc/GMT0`, the same key is created, `EtcGMT0`, which results in the TS error `An object literal cannot have multiple properties with the same name.`
Characters are escaped by the [sanitize](https://github.com/anymaniax/orval/blob/be4cf44dc08a9801112c12ffe7f24356d51ee76e/src/utils/string.ts#L73) in the utils/st

[2022-11-15 14:56] lew commented on #638
Is there any reason to exclude special characters at all? Javascript accepts all string values as property names.

https://tc39.es/ecma262/#sec-object-type

The following _should_ be generated and usable:
![grafik](https://user-images.githubusercontent.com/42109/201950940-88b40b2d-897a-482c-b104-75a774dc52b3.png)

[2022-11-15 15:11] anymaniax commented on #638
it's a bug should be only space that are replaced by an _

[2022-11-15 15:17] lew commented on #638
Then you'll run into the next problem with cases like

[code]

Although it may seem strange to define these enums in the first place, there is no reason to prevent any characters from appearing in the generated code.

[2022-11-15 15:18] anymaniax commented on #638
I agree but that was done from the beginning like that and it's kinda a breaking change. Would like to change that for the next major version

[2022-11-15 15:43] anymaniax commented on #638
The only problem that I see with that. If you cannot modify the specification your are block

[2022-11-16 02:01] missing1984 commented on #243
I wrote a custom script base on "ts-morph" to process the generated file. It will be great to have native support though

[2022-11-16 02:03] knyzorg commented on #243
@missing1984 Can you share it?

[2022-11-16 02:13] missing1984 commented on #243
@knyzorg sure, https://gist.github.com/missing1984/907c2b6aef0206e8944ccbaea7c4d0a9 the script basically break key into arrays

[2022-11-16 15:29] anymaniax commented on #638
@lew  if you want you can already test version `6.11.0-alpha.1` which fix the problem normally. It's also use the new architecture so if you see bug don't hesitate to report them too

[2022-11-17 14:57] NimmLor commented on #638
Just tried `6.11.0-alpha.2`, special characters are working!

However, I don't know if you intended this, but using numbers as a string result in some funny output.

[code]
[code]

To be honest, I would also like to see something like `x-enumNames` to be supported.

[2022-11-17 19:48] anymaniax commented on #638
Hello @NimmLor, just added x-enumNames with the `orval@6.11.0-alpha.4`

[2022-11-17 19:52] anymaniax commented on #634
Hello @karlmarxlopez, you can now check the new architecture and create your own client with the extracted core. The current version is `@orval/core@6.11.0-alpha.4`. If you do so I would be happy to add a section about your client in orval doc

You can now do something like this.

[code]

so you could do exactly the same with your own client

[2022-11-18 10:58] NimmLor commented on #638
Awesome! Works as anticipated, many thanks!

[2022-11-18 14:04] lew commented on #638
Thank you for implementing x-enumNames!

Here are some more test cases that currently cause code generation to fail:
[code]

generates
[code]
[code]
[code]

[2022-11-19 00:45] lmossman commented on #513
@anymaniax I have upgraded to version `6.11.0-alpha.5` of orval, and while I no longer get the `TypeError` posted above, the generated typescript still doesn't seem quite right.

For components that are pointing to external JSON schema files, the typescript file that orval generates still doesn't contain classes for the referenced JSON. It just adds a type onto the field which is the capitalized v

[2022-11-20 12:57] anymaniax commented on #513
@lmossman can you try `6.11.0-alpha.6` and tell if it's good for you now?

[2022-11-21 14:40] wouterkroes opened #671 "TypeScript compilerOption target is not used"
## What are the steps to reproduce this issue?

n/a

## What happens?

I noticed my tsconfig.json target is not read by Orval.

I created a pull request to add it: https://github.com/anymaniax/orval/pull/670

## What were you expecting to happen?

n/a

## Any logs, error output, etc?

n/a

## Any other comments?

n/a

## What versions are you using?

n/a

[2022-11-21 15:01] anymaniax commented on #671
Which version do you use?

[2022-11-21 15:03] wouterkroes commented on #671
"orval": "6.9.6"

[2022-11-21 15:04] anymaniax commented on #671
can you try with `6.11.0-alpha.6` if you still have the problem?

[2022-11-21 15:06] wouterkroes commented on #671
Sadly, I still have the issue with that version

[code]

Is it maybe because my tsconfig.json uses references? It is a [create-vue](https://github.com/vuejs/create-vue)/Vite project:

[code]

[2022-11-21 15:07] anymaniax commented on #671
ok now I see

[2022-11-21 15:07] wouterkroes commented on #671
Hmm, gave it a try with a simpler tsconfig.json

[code]

but sadly the same error. So the references it not the issue, i guess (?)

[2022-11-21 15:07] anymaniax commented on #671
no no it's the way the file is compile you are right

[2022-11-21 15:09] anymaniax commented on #671
Normally you don't have any side effects right?

[2022-11-21 15:12] wouterkroes commented on #671
What exactly do you with side effects? In what context?

[2022-11-21 15:13] anymaniax commented on #671
The code is well generated no? Without any issue? You just have the warning

[2022-11-21 15:16] wouterkroes commented on #671
Yes, the code is well generated. It is not a blocking issue/bug

[2022-11-21 15:17] anymaniax commented on #671
Will check and probably merge. Just afraid that it can cause some problems in some case

[2022-11-21 15:33] anymaniax commented on #671
it's not exactly the same since it's the build setup for esbuild that you modify here

[2022-11-21 18:07] dawsonbooth opened #672 "Parse array with `uniqueItems: true` as a `Set`"
## What are the steps to reproduce this issue?

1. Add `uniqueItems: true` to a field in the OpenAPI doc
2. Run Orval

## What happens?

The field comes back as an array.

## What were you expecting to happen?

n/a

## Any logs, error output, etc?

n/a

## Any other comments?

As in the example of parsing dates as `Date` instances, it would be helpful to be able to parse an array of items that are

[2022-11-21 18:38] lmossman commented on #513
@anymaniax it is a bit closer now, but I still have a couple of issues:
1. If the external JSON schema file is in some nested path, then orval uses two different names for the generated type.
For example, [here](https://github.com/lmossman/orval-example/blob/a20f43b966e839fa9cc55c30b62bd47772a4aa80/src/petstore.yaml#L116-L117) I am now pointing to a nested directory that contains the JSON schema,

[2022-11-22 02:35] rajesh-vishwa opened #673 "Axios: Mutator is parsing commented out lines"
## What are the steps to reproduce this issue?
[code]
1. …
2. …
3. …

## What happens?

[code]
…

## What were you expecting to happen?

…

## Any logs, error output, etc?

…

## Any other comments?

…

## What versions are you using?

**Operating System:** …
**Package Version:** …
**Browser Version:** …

[2022-11-22 08:32] anymaniax commented on #673
Hello @rajesh-vishwa, can I also get a copy of your mutator file to see where is the problem?

[2022-11-22 08:37] anymaniax commented on #672
Hello @dawsonbooth, can you give me a quick example of what you expect?

[2022-11-22 15:23] dawsonbooth commented on #672
I have a few endpoints that return a list of available actions to the user as an array. I know these actions to be unique within the array and have noted the return type as such in the `swagger.json` by setting `uniqueItems: true`, so I would like to use that information to parse the array as a `Set` upon receiving the data.

I know that I can just convert the array ad hoc for each specific query

[2022-11-22 15:37] dawsonbooth commented on #672
On second thought, I'm realizing that this would be much better suited as a discussion item instead of an issue!
https://github.com/anymaniax/orval/discussions/674

[2022-11-22 15:37] #672 closed

[2022-11-23 13:19] anymaniax commented on #654
@la55u did an update thanks

[2022-11-23 17:45] lew opened #679 "Path Parameters Are Not Encoded"
## What are the steps to reproduce this issue?

1. Create a minimal OpenAPI example like
[code]
2. Generate the functions.
3. Use a parameter with special characters in above example.

## What happens?

The parameter `parameter` is just string concatenated into the URL:
[code]

As a result, requests fail.

## What were you expecting to happen?

Strings in the path fragment must be encoded

[code]

[2022-11-24 13:38] anymaniax commented on #513
@lmossman I fixed the two issues but still have a little problem with the relative path. Will try to fix it asap to be able to release a new alpha with it

[2022-11-24 15:24] ravikiranr26 commented on #261
@anymaniax Hello, seems like it's started not to generate when we have $ref and containing file is Enum.

Version:
orval v6.10.3
node: 16.14.2
openapi: "3.0.0"

schema.yaml:
openapi: "3.0.0"
servers:
  - url: http://localhost/api/rest
info:
  version: 1.11
  title: API
paths:
  /data/acc/search:
    $ref: "paths/acc-search.yaml"
components:
  schemas:
    ApiAccount:
      $ref: "schemas/api-accou

[2022-11-24 15:26] anymaniax commented on #261
Hello @ravikiranr26 can you try with `6.11.0-alpha.7`

[2022-11-24 16:02] ravikiranr26 commented on #261
@anymaniax Hello, works great with the version. Thanks a lot. Just have a another query, as new to react-query,

Can i know how to use the generated hook, useListPetsHook  to fetch, couldnt get the example.

https://github.com/anymaniax/orval/blob/c594bac4b2c8045dfb766833dc10ef5e554b7424/samples/react-query/hook-mutator/endpoints.ts

[2022-11-24 17:03] anymaniax commented on #261
You need to use `useListPets` instead. `useListPetsHook` is used to be able to pass a custom client or a custom instance of axios to be able to easily add a token for example

[2022-11-28 11:52] rajesh-vishwa commented on #673
`import Axios, { AxiosError, AxiosRequestConfig, HeadersDefaults } from "axios";

import { User } from "../types/user.type";
import { getStoredUser } from "../utils/user-storage";

export const AXIOS_INSTANCE = Axios.create({
  baseURL: process.env.NEXT_API_URL,
});

export type FailResponse = {
  readonly success: boolean;
  readonly message: string;
};

export type SuccessResponse<T> = {
  reado

[2022-11-29 06:14] mitsuru-kasai opened #686 "Null in Enum"
## What are the steps to reproduce this issue?

1. Make OpenAPI Spec with schemas of Enum containing `null`
2. Execute `orval`
3. Broken schema file is generated

Reproduction code is here
https://github.com/mitsuru-kasai/orval-null-in-enum

## What happens?

When I input openapi spec with schemas of Enum containing `null`, broken schema file is outputted.

For example, with schema
[code]

then fo

[2022-11-29 06:16] mitsuru-kasai commented on #686
I found the potentially related issue #310

[2022-11-29 08:36] Kanary159357 opened #687 "Multiple Depth of allof cause mock problem."
## What happens?

When there is more than two allof in path, mocks are generated strangely. There is no `{}` on generated Object.

generated Mock
[code]
…

## What were you expecting to happen?

Mock should be done correctly with `{}`

[code]

I think this is because the type of nested `allof` is undefined because it only check one depth, that is `allof` which is also undefined.

…

Here is test y

[2022-11-29 09:55] RicardoDeity commented on #320
I have this same error, after adding the `ajv` package the error was resolved. Another problem I have is when I set the validation inside the config file to false, or even remove the validation key from the `input` object, validation is still done. I end up without generated files and an error about a specific rule in the terminal. Is that something I can resolve by using different configuration v

[2022-11-29 12:03] anymaniax commented on #686
hello @mitsuru-kasai, can you test with `orval@alpha`

[2022-11-29 12:04] anymaniax commented on #686
You can use also `x-enumNames` in your specification with the alpha

[2022-11-29 12:56] bigen1925 commented on #686
@anymaniax
Thank you for the comment. :)

I tried `orval@alpha`, but didn't worked.
The same schema was outputted.

I also tried `x-enumNames`, but didn't worked.
With spec
[code]
, output was this
[code]

[2022-11-29 12:58] mitsuru-kasai commented on #686
@anymaniax
Thank you for the comment. :)

I tried `orval@alpha`, but didn't worked.
The same schema was outputted.

I also tried `x-enumNames`, but didn't worked.
With spec
[code]
, output was this
[code]

[2022-11-29 13:59] mitsuru-kasai commented on #686
I think the cause may lie on joining and splitting `null` in
https://github.com/anymaniax/orval/blob/3a6480e97fdaa6ae83c7d6f4d33ba244617eb193/packages/core/src/getters/scalar.ts#L37
and
https://github.com/anymaniax/orval/blob/3a6480e97fdaa6ae83c7d6f4d33ba244617eb193/packages/core/src/getters/enum.ts#L19

`null` is converted to empty string `''` when joining.
For example,
[code]

So, I think specif

[2022-11-29 15:55] anymaniax commented on #686
Can you try with `orval@6.11.0-alpha.8`

[2022-11-30 00:26] lmossman commented on #513
@anymaniax I tried this out and it seems to have fixed most of the issues I was seeing. However, when I tried this out in the actual project I am using orval for, I still ran into a case where a typescript type did not properly get generated for a definition in the JSON file.

I have updated my example [here](https://github.com/lmossman/orval-example) to demonstrate this issue. Notice that if you

[2022-11-30 09:57] anymaniax commented on #686
Can you try with `orval@6.11.0-alpha.9` normally should be good this time

[2022-11-30 09:58] anymaniax commented on #513
@lmossman can you try with `orval@6.11.0-alpha.9`

[2022-11-30 11:40] guyariely opened #689 "The plus sign ("+") is stripped in enums"
## What are the steps to reproduce this issue?

Use the following schema in a valid OpenAPI spec:

[code]

## What happens?

Orval generates the following object (note the missing "+" sign):

[code]

## What were you expecting to happen?

For the generated object to look like this:

[code]

## Any logs, error output, etc?

Orval does not output any error about this.

## What versions are you using

[2022-11-30 11:41] mitsuru-kasai commented on #686
@anymaniax
Oh yes, it worked!

Thank you so much for your rapid fixing!

I will buy you beer! :)

[2022-11-30 12:21] anymaniax commented on #689
Hello @guyariely, it should be fixed on `orval@alpha` can you try it?

[2022-11-30 12:22] anymaniax commented on #686
@mitsuru-kasai cool! Thanks for the support! 🍺

[2022-11-30 12:42] guyariely commented on #689
@anymaniax I tried it out and it works as expected, thanks!

[2022-11-30 18:36] lmossman commented on #513
@anymaniax thanks for the quick response! This is looking really close, but I found one more issue: it seems that two duplicate typescript types with the same name are being generated in the case that there are two fields with almost the same name (only a `_` prefix differentiates them).

I've updated my repo here with an example of this: the DeclarativeStream definition in my JSON schema has a [s